h1 {
    color: "blue";
    text-decoration: "line-through";
    background-color: rgb(243, 243, 92);
}
body {
    background-color: bisque;
}
button{
    background-color: rgb(28, 75, 75);
    color: white;
}